name: Go Tests

on:
  pull_request:
    branches:
      - main

jobs:
  test-ubuntu:
    name: Test on Ubuntu
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Go
        uses: actions/setup-go@v5
        with:
          go-version: '1.22'

      - name: Set up Lua
        run: sudo apt-get update && sudo apt-get install -y lua5.4

      - name: Install dependencies
        run: go mod download

      - name: Run tests
        run: go test ./... -v

      - name: Test install Script in bash
        shell: bash
        run: | 
          echo "Testing install script in bash..."
          lua install/tests/linux_test.lua

      - name: Test install Script in zsh
        shell: bash
        run: | 
          echo "Testing install script in zsh..."
          lua install/tests/linux_test.lua

  test-macos:
    name: Test on macOS
    runs-on: macos-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Go
        uses: actions/setup-go@v5
        with:
          go-version: '1.22'

      - name: Set up Lua
        run: brew install lua@5.4

      - name: Install dependencies
        run: go mod download

      - name: Run tests
        run: go test ./... -v

      - name: Test install Script in bash
        shell: bash
        run: | 
          echo "Testing install script in bash..."
          lua install/tests/mac_test.lua

      - name: Test install Script in zsh
        shell: bash
        run: | 
          echo "Testing install script in zsh..."
          lua install/tests/mac_test.lua

        
