name: Go Tests

on:
  pull_request:
    branches:
      - master

jobs:
  test-ubuntu:
    name: Test on Ubuntu
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Go
        uses: actions/setup-go@v5
        with:
          go-version: '1.22'

      - name: Set up Lua
        run: sudo apt-get update && sudo apt-get install -y lua5.4

      - name: Install zsh
        run: sudo apt-get install -y zsh

      - name: Install Docker Compose
        run: |
          VERSION=$(curl -s https://api.github.com/repos/docker/compose/releases/latest | grep -Po '"tag_name": "\K.*?(?=")')
          sudo curl -L "https://github.com/docker/compose/releases/download/${VERSION}/docker-compose-$(uname -s)-$(uname -m)" -o /usr/local/bin/docker-compose
          sudo chmod +x /usr/local/bin/docker-compose

      - name: Install dependencies
        run: go mod download

      - name: Run go tests
        run: go test ./... -v

      - name: Run shell and cli tests
        run: make all

        # TODO
        # update these to run in docker and not rely on lua
      - name: Test install Script in bash
        shell: bash
        run: | 
          echo "Testing install script in bash..."
          lua install/tests/linux_test.lua

      - name: Test install Script in zsh
        shell: zsh {0}
        run: | 
          echo "Testing install script in zsh..."
          lua install/tests/linux_test.lua

  test-macos:
    name: Test on macOS
    runs-on: macos-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Go
        uses: actions/setup-go@v5
        with:
          go-version: '1.22'

      - name: Set up Lua
        run: brew install lua@5.4

      - name: Install zsh
        run: brew install zsh

      - name: Install Docker and Docker-Compose
        run: |
          brew install docker docker-compose 
          # Link the Docker Compose v2 plugin so it's understood by the docker CLI
          mkdir -p ~/.docker/cli-plugins
          ln -sfn /usr/local/opt/docker-compose/bin/docker-compose ~/.docker/cli-plugins/docker-compose 
          # colima will run docker daemon for us
          colima start

      - name: Install dependencies
        run: go mod download

      - name: Run tests
        run: go test ./... -v

      - name: Run shell and cli tests
        run: make all

        # TODO
        # update these to run in docker and not rely on lua
      - name: Test install Script in bash
        shell: bash
        run: | 
          echo "Testing install script in bash..."
          lua install/tests/mac_test.lua

      - name: Test install Script in zsh
        shell: zsh {0}
        run: | 
          echo "Testing install script in zsh..."
          lua install/tests/mac_test.lua

        
